[general]
clean_up_on_failure = True
delete_images_on_failure = True

[aws]
access_id = secretaccessID
secret_key = supersecretsecretkey
vol_size = 7
iam_profile = iamprofilename
keyname = somekeyname
keypath = /path/to/private/key
pubkeypath = /path/to/public/key
bucket_name = fedora-test
regions = us-east-1|us-east-2|us-west-1|us-west-2|ca-central-1|ap-south-1|ap-northeast-1|ap-northeast-2|ap-southeast-1|ap-southeast-2|eu-central-1|eu-west-1|eu-west-2|sa-west-1

[rackspace]
username = someuser
api_key = secretk3y

[gce]
email = someacct@provider.com
keypath = /path/to/pem/file
project_id = someprojectid

[hp]
username = aperson
password = somecoolpassword
tenant = theprojectname
